# .env.example
VITE_GOOGLE_MAPS_API_KEY=

# Service Account Details (For backend use only)
# Get these from Google Cloud Console > IAM & Admin > Service Accounts > Keys (JSON)
GOOGLE_PROJECT_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
